/* this part below removes the default browser setting */
body, h1, h2, h3, p, ul, ol {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  line-height: 2;
}

/*Styling the Header (including its <h1> and <p> elements)*/
header {
  text-align: center; /*Moves the Header to the center of a page*/
  color: #1A1743; /*colors the text in dark purple*/
  background-color: #f9ecda; /*colors only the Header background bright purple*/
  padding: 4em; /*adds more spacing around the text*/
  margin: 0px; /*adds margin around the Header*/
  margin-bottom: 2px;
  h1{
    color: rgb(254, 246, 206);
    font-size: 60px;
    background: linear-gradient(135deg, #ffb751, #50d36a);
    text-align: center;
    margin: 0;
    padding: 100px;
}
}

body{
    background-color: #f9ecda;
    margin: 50;
    text-align:center;
}
.btn {
  border: 6px solid black;
  background-color:#f9ecda;
  color: black;
  padding: 20px 28px;
  font-size: 20px;
  cursor: pointer;
  }
  /* Yellow */
.quote {
  border-color: #e5cb00;
  color: #d4b434;
}

.quote:hover {
  background-color: #e5cb00;
  color: rgb(254, 246, 206);
}
/* Orange */
.info {
  border-color: #ff9800;
  color: orange;
}
.info:hover {
  background: #ff9800;
  color: rgb(254, 246, 206);
}
/* Green */
.ass2 {
  border-color: #50d36a;
  color: rgb(67, 215, 67);
}

.ass2:hover {
  background-color: #50d36a;
  color: rgb(254, 246, 206);
}

.format { 
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  margin:auto

  h1 {
    text-align: center;
    }
    h2{
      text-align: left;
    }
    p{
      text-align: justify;
    }
  }
img{
    width: 800;
    aspect-ratio: 1/1.5;
}
